<article class="recipe-item"
         #recipeItem
         appShowImage>
  <div class="recipe-header">
    <h3 class="recipe-name">{{recipe?.name}}</h3>
    <h2 class="recipe-rating">{{recipe?.rating}}</h2>
    <h2 class="recipe-difficulty {{recipe?.difficulty | lowercase}}">{{recipe?.difficulty}}</h2>
  </div>
  <div class="ingredients-list">
    <span class="ingredient"
          *ngFor="let ingredients of recipe?.ingredients">
      {{ingredients|lowercase|removecomma}}
    </span>
  </div>
  <img #image
       src="{{recipe?.image}}"
       alt="recipe-image"
       class="recipe-image"
       id="top">
</article>
